* {
  font-family: 'Futura';
}

.cell {
  width: 20px;
  height: 20px;
  justify-content: "center";
  align-items: "center";
  display: "flex";
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

;

.cell:hover {
  cursor: pointer;
}